body {
    text-align: center;
    background: #D6E5E3;
}

h1 {
    color: #A6B1E1;
    font-size: 4em;
}

input {
    font-size: 0.7em;
}

.inputs {
    font-size: 2em;
    margin-top: 4em;
}

#botao-calcular {
    background: #a6b1e1;
    color: #424874;
    border: none;
    padding: 0.15em;
}

.resultado {
    margin-top: 4em;
    font-size: 2em;
    color: #424874;
    font-weight: bolder;
}